@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="flex-container">
    <div class="flex-box">
        <div class="content-box">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>