@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="flex-container">
    <div class="flex-box">
        <div class="content-box">
            <h1>@ViewData["Title"]</h1>
            <p>
                Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
            </p>
        </div>
    </div>
</div>