html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    border-radius: 5px;
}

h1 {
    font-size: 3.5em;
    text-align: center;
}
h4 {
    margin:0;
}

p {
    text-align: justify;
}

select {
    padding: 5px;
    color: #888;
}
select option {
    color: #000;
}

.state-filter-box {
    margin: 0 15px 5px 0;
}

/* Repeatable styles*/
.medium-brown {
    background: #6a5d43;
}
.light-brown {
    background: #907f5d;
}
.drop-shadow {
    box-shadow: 1px 1px 2px rgba(0,0,0,0.8)
}
.alt-list-bg li:nth-child(odd) {
    background: #6a5d43;
    color:#fff;
}

/* Custom Styles  */
select {
    width: 100%;
    border-radius: 3px;
    border-color: #d1c8c8;
}

label {
    display:block;
}

.container-fluid {
    padding: 0;
    margin: 0;
}
#park-list, #park-header, #page-header .content-box {
    text-align: center;
}
.lengthy-table th:nth-child(4), .lengthy-table th:nth-child(5), .lengthy-table td:nth-child(4), .lengthy-table td:nth-child(5) {
    display: none;
}

.table td, .table th, .table thead th {
    border: none;
}

.navbar {
    padding: 0;
}

.navbar-nav li a {
    color: #fff;
}

.navbar-dark {
    background-color: #766e59;
    color:#fff;
    padding: 10px;
}

a.navbar-brand {
    color: #212529;
    padding-left: 15px;
}

.navbar-toggler {
    background-color: #766e59;
    color: #fff;
    border:none;
    border-radius:0;
}
.navbar-toggler:active, .navbar-toggler:hover {
    background-color: #766e59;
}
.navbar .container-fluid {
    padding: 0;
}
.container-fluid .carousel {
    padding:0;
}

.crud-links {
    margin: 15px 0;
    display: block;
    text-align:center;
}

.crud-links:first-of-type {
    margin-left: 0;
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

tr:nth-child(even) {
    background-color: rgba(215,202,178,1);
}

a.btn.btn-default {
    background: #766e59;
    color: #fff;
}

.navbar-dark li.nav-item, li.nav-item {
    padding: 0 10px;
}

#logoutForm .navbar-dark li.nav-item {
    padding: 0 10px;
}

.jumbotron {
    background: #907f5d;
    margin-bottom: 0;
    padding: 15px;
    border-radius: 0;
}
.btn:hover, .btn:focus, btn:active {
    box-shadow: 1px 1px 2px rgba(0,0,0,0.8) inset;
}

.btn-primary {
    background: #A28D64;
    border-color: #4C3811;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus, .btn-primary:active:hover {
    border-color: #4f4635;
    background-color: #6a5d43;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:focus {
    background: #4f4635;
    border-color: #6a5d43;
    box-shadow: none;
}

.grid-container {
    display: grid;
}

th {
    background-color: #907f5d;
}

.header-container {
    padding: 15px;
    background-color: #907f5d;
}

.flex-table-cell {
    padding: .75rem;
}

.flex-table-row:nth-child(even) {
    background-color: rgba(215,202,178,1);
}
.flex-table-header {
    background-color: #907f5d;
    font-weight: bold;
}

.trail-list .trail-box {
    padding: 10px 0;
}

.trail-list .trail-box:nth-child(even) {
    background: white;
}

.trail-list .trail-box:nth-child(odd) {
    background: #907f5d;
}

#map {
    height: 50vh;
    width: 100%;
}

.content-box {
    padding: 25px;
}

.park-header h2 {
    margin: 0;
    padding: 15px;
    background-color: #b9a67f;
    box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.7) inset;
}

.table {
  margin-bottom:0;
}

footer {
    position: relative;
    padding: 0 15px;
}

@media screen and (min-width:600px) {
    h1 {
        text-align: left;
    }

    p {
        text-align: left;
    }

    .crud-links {
        margin: 15px;
        display:inline-block;
    }
    #page-header .content-box {
        text-align:left;
    }

    .flex-long-cell {
        flex:2;
    }

    @media screen and (min-width:768px) {
        #park-list, #park-header {
            text-align: left;
        }
        .header-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        .lengthy-table th:nth-child(4), .lengthy-table td:nth-child(4) {
            display: table-cell;
            border: none;
        }

        tr:hover {
            opacity: 0.8;
        }

        .solo-park-map #map {
            width: 50vw;
        }

        .flex-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .flex-baseline {
            align-items: baseline;
        }

        .flex-table-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
        .flex-box {
            flex: 1;
        }

        .flex-long-cell {
            flex: 2;
        }

        .trail-list {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .trail-list .trail-box {
            display: flex;
            width: 100%;
            padding: 10px 0;
        }

        .centered-flex {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    @media screen and (min-width:991px) {
        .header-container {
            flex-direction: row;
        }
    }

    @media screen and (min-width:1200px) {
        .lengthy-table th:nth-child(5), .lengthy-table td:nth-child(5) {
            display: table-cell;
            border: none;
        }
    }
}